<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Report for {{ student_name }}</title>
    <link rel="stylesheet" type="text/css" href="bare.min.css">
</head>
<body>
    <h1>Report for {{ student_name }}</h1>

    {% for bundle_name in bundles %}
     <h2>{{ bundle_name }}</h2>
        <ul>
            {% for key,value in bundles[bundle_name].iterrows() %}
                  <li>
                      {{ value['Assessment'] }}
                      {% if value['Passed'] == True %}
                        <b>Passed</b>
                      {% endif %}
                  </li>
            {% endfor %}
        </ul>
    {% endfor %}
</body>
</html>