<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Report for {{ student_name }}</title>
    <link rel="stylesheet" type="text/css" href="bare.min.css">
</head>
<body>
    <h1>Report for {{ student_name }}</h1>
    <ul>
          {% for value in achievements %}
                <li>
                    {{ value }}
                      <b>{{ student_data.loc[student_data['Assessment'] == value].iloc[0]['Passed']}}</b>                    
                </li>
          {% endfor %}
      </ul>
</body>
</html>

